.container {
  max-width: 992px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 30px 0;
}

header {
  background: slategrey;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  display: inline-flex;
  padding: 12px;
  margin: 0 7px;
}

ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav.container h2 {
  color: #fff;
}

header {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  display: inline-flex;
  padding: 12px;
  margin: 0 7px;
}

ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

header {
  background: slategrey;
}

.nav.container h2 {
  color: #fff;
}

.countries.container {
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.country-item {
  width: 27%;
}

.country-item img {
  width: 100%;
  height: 190px;
}

.country-item {
  padding: 10px;
  border: 2px solid lightcoral;
}

h2,
h3 {
  margin: 0;
}